/* layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:#000000;
}
.container {
  display: flex;
}

input,
select {
  border: 3px solid white;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0 1rem;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0.25em 0 1em;
}
button {
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font: inherit;
  font-size: 8.8px;
  font-weight: lighter;
  font-family: headingFont;
  color: inherit;
  cursor: pointer;
  background-color: var(--black);
  transition: background-color 0.2s;
}

button:hover,
button:focus {
  outline: none;
  background-color: var(--magenta);
}

/* header */
.header-container {
  position: absolute;
  width:calc(100% - 0px);;
  padding-bottom: 70px;
  display: block;
  background-color: blueviolet;
  height: 0px;
  border: 3px solid #ffffff;
  border-radius: 0px;
  z-index: 3; /* Set a higher z-index to ensure it appears above other elements */
}
.user-container{
  position: relative;
  margin-left: 1400px;
  margin-top: -65px;
  height: auto;
  width: fit-content;
  font-size: larger;
  color: #f0f0f0;
}

.logo img{
  height:auto;
  width: 50px;
  margin-left: 85px;
  block-size: auto;
}

/* GameList */
.bottom-component { 
  display: flex; /* Use flexbox */
  flex-direction: column; /* Align items vertically */
  margin-left: 0; /* Set the left margin to accommodate the side menu */
  align-items: center; /* Center items horizontally */
  z-index: 0; /* Set a lower z-index to ensure it appears below other elements */
  background-color: black;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  gap: 20px; /* spacing between items */
  width: 100%; /* Adjust width to fill remaining space */
  justify-content: center; /* center the grid horizontally */
  padding-bottom: 10px;
  align-content: center;
  border: 3px solid #ffffff;
  padding: 10px;
}

.bottom-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjust width to fill remaining space */
  border: 3px solid #ffffff;
}
.close-game{
  color: #000000;
  margin-top: 100px;
  align-items: center;
  margin-right: 200px;
}
.game-play-window{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-right: 80px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 columns with equal width */
  gap: 20px; /* spacing between items */
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 10px; 
  align-content: center;
}
.game-list-header{
  color: #f0f0f0;
  text-align: justify;
  font-family:headingFont;
  margin-left: 5px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  margin-top: 60px;
  min-width: 70vw;
  color:#000000;
  border: 3px solid blueviolet;
}

.search input[type="text"] {
    width: 100%;
  padding: 15px;
  margin-bottom: 5px;
  border: 3px solid blueviolet;
  border-radius: 50px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  color:#f0f0f0;
  background-color: #f0f0f0;
  

}


.search input[type="text"]:focus {
  border: 3px solid blueviolet;

  /* Adjust focus border color as needed */
}



@font-face{
  font-family: headingFont;
  src: url(Game-Of-Squids.ttf) format('truetype');
}

.game-sphere{
  text-align: center;
  color: #f0f0f0;
  align-items: center;
  margin-top: -90px;
  font-family: headingFont;
  font-size: 48px;
  
}


.dont-display{
  display: none;
}

/* menu */
.side-menu-container {
  width: 40%;
  height: 100vh; 
  margin-top: 70px;
  position: relative;
}

.side-menu-container {
  width: 250px; /* Adjust the width as needed */
  height: 100vh;
  background-color:black;
  position: relative;
  top: 0;
  left: 0;
}

.side-menu {
  display: block;
}

.side-menu {
  margin: 1rem 0;
  list-style: none;
}

.side-menu li {
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font: inherit;
  font-size: 14px;
  font-family: headingFont;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
  border-style: solid;
  border-color:blueviolet; /* Set border color */
  text-align: center;
  color: white;;
  cursor: pointer;
}

.side-menu li span[role="img"] {
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 0 var(--white);
}

.side-menu li.active {
  background-color: var(--white);
}

.side-menu li:hover,
.side-menu li.active {
  color: var(--white);
}

.side-menu li:hover span[role="img"],
.side-menu li.active span[role="img"] {
  text-shadow: 0 0 0 var(--white);
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 110px;
  justify-content: center;
  margin-left: -220px;
  font-family:headingFont;
  text-align: justify;
  align-items: center;
  background-color: blueviolet;
  color: #f0f0f0;
  border-style: solid;
  border-width: 1px; /* Set border width */
  border-color: #f0f0f0; /* Set border color */
  border-radius: 1rem;
}
.form label{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 0.8em; 
}
.form header{
  border-style: solid;
  border-width: 100px; /* Set border width */
  border-color: #f0f0f0; /* Set border color */
  border-radius: 0.5rem 0.5rem;
  margin-top: 10px;
  border-width: 10px;
  border-end-end-radius: 20px;
  padding: 10px;
  display: block;

}

/* Genre Filter */
.genre-filter-container {
  background-color: #000000;
  display: flex;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 70px;
  border: 3px solid #ffffff;
  height: auto ;
}

.genre-filter-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.genre-filter-container ul li {
  margin-right: 10px; /* Adjust spacing between list items */
}

.genre-filter-container ul li button {
  margin-right: 10px; /* Adjust spacing between list items */
  background-color: #000000;
  color: #f0f0f0;
  border-style: solid;
  border-width: 1px; /* Set border width */
  border-color:blueviolet; /* Set border color */
  margin-top: 10px;
  font-size: 16px

}
.genre-filter-container {
  background-color: #000000;
  display: flex;
  padding: 10px;
  position: relative;
  width: 100%; /* Adjust width to fill remaining space */
  z-index: 2; /* Set a higher z-index to ensure it appears above other elements */
}

.genre-filter-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%; /* Make the ul element fill the entire width */
}

.genre-filter-container ul li {
  margin-right: 5px; /* Adjust spacing between list items */
}

.genre-filter-container ul li button {
  margin-right: 10px; /* Adjust spacing between list items */
  background-color: #000000;
  color: #f0f0f0;
}

.genre-button {
  transition: ease-out 0.3s;
}

.genre-button:hover {
  color: greenyellow;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.game-card{
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font: inherit;
  font-size: 14px;
  font-family: headingFont;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
  border-style: solid;
  border-color: #f0f0f0; 
  text-align: center;
  color: white;;
  cursor: pointer;
}

.game-card-title h3{
  color: #f0f0f0;
  text-justify:inherit;
  font-family: headingFont;
}
.game-card-title{
  border: 3px solid blueviolet;
  border-radius: .5rem;
  padding: 5px;
}

.contact {
  margin-top: 200px;
  color: white;
  font-family: headingFont;
}

.info {
  margin-top: 50px;
  color: white;
  font-family: headingFont;
}

.email {
  margin-top: 5px;
  color: white;
  font-family: headingFont;
}

.about {
  margin-top: 200px;
  color: white;
  font-family: headingFont;
  margin-left: 300px;
}

.about-info {
  margin-top: 20px;
  color: white;
  font-family: headingFont;
  margin-right: 200px;
  margin-left: 300px;
}
